body,div,html,h2,input,button,span {
    padding: 0;
    margin: 0;
    outline: 0;
}
#container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas: 'entry'
                        'output';
    grid-gap: 2px;
}
#entry,#output {
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 1px 2px gray;
}
#entry {
    grid-area: entry;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    height: 50vh;
}
#entry h2 {
    margin: 5px auto
}
#output {
    grid-area: output;
}
input { 
    width: 30%;
    padding-left: 5px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid gray
}
input[type=text] {
    line-height: 30px;
}
input[type=submit] {
    height: 50px;
    background: blue;
    color: white;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(127, 127, 233)
}
#output h3::after {
    content: ' : '
}
#output h2, h3 {
    width: 30%;
    margin: 5px auto;
    align-items: center;
    text-align: center;
}
@media (max-width: 1440px) {
    input,#output h2, h3 {
        width: 50%
    }
}
@media (max-width: 757px) {
    input,#output h2, h3 {
        width: 70%
    }
}
@media (max-width: 400px) {
    input,#output h2, h3 {
        width: 80%
    }
    #entry { 
        height: auto;
    }
}